{{set . "title" "account"}}
{{template "header.html" .}}

{{set . "active" "analytics"}}
{{template "navigation.html" .}}

<style>
    table td{font-size:12px;}
</style>

<div class="container">
  <div class="row">
    <div class="span6">{{template "flash.html" .}}</div>
  </div>
</div>

<div class="container">
  <p>
    <div class="col-sm-offset-2 col-sm-4">
      <a role="button" class="btn btn-primary" href="{{url "Accounts.New"}}">{{msg . "add"}}</a>
    </div>
  </p>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
$(function () {
    $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=range.json&callback=?', function (data) {

        $('#container').highcharts({

            chart: {
                type: 'arearange',
                zoomType: 'x'
            },

            title: {
                text: 'Temperature variation by day'
            },

            xAxis: {
                type: 'datetime'
            },

            yAxis: {
                title: {
                    text: null
                }
            },

            tooltip: {
                crosshairs: true,
                shared: true,
                valueSuffix: '°C'
            },

            legend: {
                enabled: false
            },

            series: [{
                name: 'Temperatures',
                data: data
            }]

        });
    });

});


<table
        data-toggle="table"
        class="table table-striped table-bordered table-condensed table-responsive"
        data-show-toggle="true"
        data-show-columns="true"
        data-sort-name="name"
        data-sort-order="desc"
        data-id-field="id"
        data-url="{{url "Accounts.JsonData"}}">
    <thead>
      <tr>
        <th data-field="Name" data-halign="center" data-align="left" data-sortable="true">{{msg . "account"}}{{msg . "name"}}</th>
        <th data-field="Income" data-halign="center" data-align="left" data-sortable="true">{{msg . "account"}}{{msg . "income"}}</th>
        <th data-field="Expense" data-halign="center" data-align="left" data-sortable="true">{{msg . "account"}}{{msg . "expense"}}</th>
        <th data-field="Balance" data-halign="center" data-align="left"data-sortable="true">{{msg . "account"}}{{msg . "balance"}}</th>
      </tr>
    </thead>
</table>
</div>
{{template "footer.html" .}}