{{set . "title" "analytics"}}
{{template "header.html" .}}

{{set . "active" "analytics"}}
{{template "navigation.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">{{template "flash.html" .}}</div>
  </div>
</div>

<div class="container">
<ul id="myTabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#bills" role="tab" id="bills-tab" data-toggle="tab">{{msg . "bills.analytics"}}</a>
    </li>
	<li role="presentation">
        <a href="#account" role="tab" id="account-tab" data-toggle="tab">{{msg . "account.analytics"}}</a>
    </li>
    <li role="presentation">
        <a href="#catelog" role="tab" id="catelog-tab" data-toggle="tab">{{msg . "catelog.analytics"}}</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="bills">
        <div id="container-bm" class="col-sm-offset-1 col-lg-10 col-md-11 col-sm-11 col-xs-12"></div>
        <div id="container-by" class="col-sm-offset-1 col-lg-10 col-md-11 col-sm-11 col-xs-12"></div>
    </div>
	<div role="tabpanel" class="tab-pane fade" id="account">
	    <div id="container-ae" class="col-sm-offset-1 col-lg-10 col-md-11 col-sm-11 col-xs-12"></div>
        <div id="container-ai" class="col-sm-offset-1 col-lg-10 col-md-11 col-sm-11 col-xs-12"></div>
    </div>
    <div role="tabpanel" class="col-sm-offset-1 col-lg-10 col-md-11 col-sm-11 col-xs-12 tab-pane fade" id="catelog">
    </div>
</div>
</div>

<script src="/public/js/analytics.js"></script>

<script language="JavaScript">
    $(document).ready(function(){
        var tab_id = $("ul#myTabs li.active").children("a").attr("id");
        get_highcharts(tab_id);
    });

    $('#myTabs a').click(function (e) {
        var tab_id = e.currentTarget.id;
        e.preventDefault();
        $(this).tab('show');
        get_highcharts(tab_id);
    });


</script>
{{template "footer.html" .}}