{{set . "title" "analytics"}}
{{template "header.html" .}}

{{set . "active" "analytics"}}
{{template "navigation.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">{{template "flash.html" .}}</div>
  </div>
</div>

<ul id="myTabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#bills" role="tab" id="home-tab" data-toggle="tab">{{msg . "bills.analytics"}}</a>
    </li>
    <li role="presentation">
        <a href="#catelog" role="tab" id="profile-tab" data-toggle="tab">{{msg . "catelog.analytics"}}</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="col-sm-offset-1 col-lg-10 col-md-11 col-sm-11 col-xs-12 tab-pane fade active in" id="bills">
        <div id="container-ae" ></div>
        <div id="container-ai" ></div>
    </div>
    <div role="tabpanel" class="col-sm-offset-1 col-lg-10 col-md-11 col-sm-11 col-xs-12 tab-pane fade" id="catelog">

    </div>
</div>


<script src="http://cdn.hcharts.cn/highcharts/themes/grid-light.js"></script>
<script src="/public/js/analytics.js"></script>

<script language="JavaScript">

</script>
{{template "footer.html" .}}