{{set . "title" "bills"}}
{{template "header.html" .}}

{{set . "active" "bills"}}
{{template "navigation.html" .}}
<div class="container">
  <div class="row">
    <div class="span6">{{template "flash.html" .}}</div>
  </div>
</div>

<div class="container">
  <p>
    <div class="col-sm-offset-2 col-sm-4">
      <a role="button" class="btn btn-primary" href="{{url "Bills.New"}}">{{msg . "add"}}</a>
    </div>
  </p>
</div>

<div class="container">
  {{if not .bills}}
  <p>No Found</p>
  {{else}}
  <!-- class="table table-striped table-bordered table-condensed table-responsive" -->
  <table 
        data-toggle="table"
        data-show-toggle="true"
        data-show-columns="true"       
        data-sort-name="date"
        data-sort-order="desc"
        data-pagination="true"
        data-page-size="20"
        data-page-list="[20, 30, 40, 50]"
        data-show-pagination-switch="true"
        data-detail-view="true"
        data-detail-formatter="detailFormatter"
        data-filter-control="true"
        data-id-field="id">
    <thead>
      <tr >
        <th data-field="date" data-halign="center" data-align="left" data-sortable="true" data-filter-control="select">{{msg . "date"}}</th>
        <th data-field="title" data-halign="center" data-align="left" data-filter-control="input">{{msg . "title"}}</th>
        <th data-field="amount" data-halign="center" data-align="left" data-sortable="true">{{msg . "amount"}}</th>
        <th data-field="account" data-halign="center" data-align="left" data-sortable="true" data-visible="false" data-filter-control="select">{{msg . "account"}}</th>
        <th data-field="catelog" data-halign="center" data-align="left" data-sortable="true" data-visible="false" data-filter-control="select">{{msg . "catelog"}}</th>
        <th data-field="description" data-halign="center" data-align="left" data-visible="false">{{msg . "description"}}</th>
      </tr>
    </thead>
    <tbody>
      {{range .bills}}
      <tr>
        <td>
          <small>{{.Date.Format "2006-01-02"}}</small>
        </td>
        <td>
          <small>{{.Title}}</small>
        </td>
        <td>
          {{.Amount}}
        </td>
        <td>
          <small>{{.Account_name}}</small>
        </td>
        <td>
          <small>{{.Catelog_name}}</small>
        </td>
        <td>
          <small>{{.Description}}</small>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  {{end}}
</div>

<script>
  var $table = $('#table');

  $(function () {
  });

  function detailFormatter(index, row) {
    var html = [];

    $.each(row, function (key, value) {
      var mKey;
      switch (key){
        case "date":
                mKey = {{msg . "date"}};
              break;
      case "title":
              mKey = {{msg . "title"}};
      break;
      case "amount":
              mKey = {{msg . "amount"}};
      break;
      case "account":
              mKey = {{msg . "account"}};
      break;
      case "catelog":
              mKey = {{msg . "catelog"}};
      break;
      case "description":
              mKey = {{msg . "description"}};
      break;
        default:
      return;
      }
        html.push('<p><b>' + mKey + ':</b> ' + value + '</p>');
    });
    return html.join('');
  }

  function amountSorter(a, b) {

    var ia = parseFloat(a);
    var ib = parseFloat(b);
    if (ia > ib) return 1;
    if (ia < ib) return -1;
    return 0;
  }
</script>
{{template "footer.html" .}}