
  <form class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">表单名</legend>
      </div>

      <div class="control-group">
        <label class="control-label">kind</label>
        <div class="controls">
          <!-- Inline Radios -->  
          <label class="radio inline">
            <input type="radio" value="1" name="group" checked="checked">1</label>
          <label class="radio inline">
            <input type="radio" value="2" name="group">2</label>
        </div>
      </div>

      <div class="control-group">

        <!-- Search input-->  
        <label class="control-label">title</label>
        <div class="controls">
          <input type="text" placeholder="need" class="input-xlarge search-query">  
          <p class="help-block">maxsize100</p>
        </div>

      </div>

      <div class="control-group">

        <!-- Prepended text-->  
        <label class="control-label">money</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">￥</span>
            <input class="span2" placeholder="" id="prependedInput" type="text"></div>
          <p class="help-block"></p>
        </div>

      </div>

      <div class="control-group">

        <!-- Select Basic -->  
        <label class="control-label">account</label>
        <div class="controls">
          <select class="input-xlarge">
            <option>Enter</option>
            <option>Your</option>
            <option>Options</option>
            <option>Here!</option>
          </select>
        </div>

      </div>

      <div class="control-group">

        <!-- Select Basic -->  
        <label class="control-label">catelog</label>
        <div class="controls">
          <select class="input-xlarge">
            <option>Enter</option>
            <option>Your</option>
            <option>Options</option>
            <option>Here!</option>
          </select>
        </div>

      </div>

      <div class="control-group">

        <!-- Textarea -->  
        <label class="control-label">desprition</label>
        <div class="controls">
          <div class="textarea">
            <textarea type="" class=""></textarea>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"></label>

        <!-- Button -->  
        <div class="controls">
          <button class="btn btn-primary">ok</button>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"></label>

        <!-- Button -->  
        <div class="controls">
          <button class="btn btn-info">cancel</button>
        </div>
      </div>

    </fieldset>
  </form>