{{set . "title" "catelogs"}}
{{template "header.html" .}}

{{set . "active" "catelogs"}}
{{template "navigation.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">{{template "flash.html" .}}</div>
  </div>
</div>

<div class="container">
<p>
  <div class="col-sm-offset-2 col-sm-4">
    <a role="button" class="btn btn-primary" href="{{url "Catelogs.New"}}">{{msg . "add"}}</a>
  </div>
</p>
</div>

<div class="container">
{{if not .catelogs}}
<p>No Found</p>
{{else}}
<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr class="success">
      <th>{{msg . "name"}}</th>
      <th>{{msg . "number"}}</th>
      <th>{{msg . "balance"}}</th>
      <th>{{msg . "percent"}}</th>
    </tr>
  </thead>
  <tbody>
    {{range .catelogs}}
    <tr>
      <td>{{.Name}}</td>
      <td>{{.Number}}</td>
      <td>{{.Balance}}</td>
      <td>{{.Percent}}%</td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
</div>

{{template "footer.html" .}}