{{set . "title" "Home"}}
{{template "header.html" .}}

<div id="login">

  (try with demo/demo)

  <form action="{{url "Application.Login"}}" id="formLogin" method="POST">
    <p class="field">
      <label>{{msg . "username"}}:</label>
      <input type="text" name="username" size="19" value="{{.flash.username}}" />
    </p>
    <p class="field">
      <label>{{msg . "password"}}:</label>
      <input type="password" name="password"  size="19"/>
    </p>
    <p class="field">
      <label>{{msg . "remember"}}:</label>
      <input type="checkbox" name="remember" value="true"/>
    </p>
    <p class="buttons">
      <input type="submit" value={{msg . "login"}} />
    </p>
  </form>

  <p>
    <a href="{{url "Application.Register"}}">{{msg . "registernew"}}</a>
  </p>

</div>

{{template "footer.html" .}}
