{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="page-header">
  <h2>{{msg . "login"}}</h2>
</div>

<div class="container">
  <div class="row">
    <div class="span6">{{template "flash.html" .}}</div>
  </div>
</div>

<div class="container">
  <form class="form-signin" action="{{url "Application.Login"}}" id="formLogin" method="POST">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">{{msg . "username"}}</label>
      <div class="col-sm-10">
        <input type="text" id="inputName" size="19" name ="username" value="{{.flash.username}}" class="form-control" maxlength="10" placeholder={{msg . "username"}} required autofocus></div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">{{msg . "password"}}</label>
      <div class="col-sm-10">
        <input type="password" id="inputPassword" size="19" name="password" class="form-control" placeholder="Password" required></div>
    </div>
    <div class="checkbox col-sm-10">
      <label>
        <input type="checkbox" name="remember" value="false">{{msg . "remember"}}</label>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{msg . "login"}}</button>
      </div>
    </div>
  </form>
  <p>
    <a href="{{url "Application.Register"}}">{{msg . "registernew"}}</a>
  </p>
</div>
<!-- /container -->
{{template "footer.html" .}}