  {{if eq .RunMode "dev"}}
    {{template "debug.html" .}}
  {{end}}

  {{if eq .title "newbill"}}
  <script src="//cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.3.8/js/bootstrap-datetimepicker.min.js" ></script>
  <script src="//cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.3.8/js/locales/bootstrap-datetimepicker.zh-CN.js" ></script>
 
<script type="text/javascript">
      $('.form_date').datetimepicker({
          language: 'zh-CN',
          format: "yyyy-mm-dd",
          weekStart: 1,
          todayBtn: 1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          minView: 2,
          forceParse: 0
      });
  </script>
  {{end}}

  </body>
  </html>