<!DOCTYPE html>

<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>{{.title}}</title>

  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/navbar-fixed-top.css">
  <link rel="stylesheet" type="text/css" href="/public/css/datetimepicker.css">

  <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
  {{range .moreStyles}}
  <link rel="stylesheet" type="text/css" href="/public/{{.}}">
  {{end}}
    {{range .moreScripts}}
  <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
  {{end}}
</head>
<body>