{{set . "title" "add"}}
{{template "header.html" .}}


<div class="container">

    <form class="form-signin" action="{{url "Accounts.SaveAccount"}}" method="POST">
        <h2 class="form-signin-heading">{{msg . "add"}}{{msg . "account"}}</h2>
		
        <label for="inputName" class="sr-only">Email address</label>
        <input type="text" id="inputName" name ="name" class="form-control" placeholder={{msg . "account"}} required autofocus>
		
        <label for="inputKind" class="sr-only">{{msg . "password"}}</label>
        <input type="text" id="inputKind" name ="kind" class="form-control" placeholder={{msg . "kind"}} required>

		
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{msg . "ok"}}</button>
    </form>

</div> <!-- /container -->

{{template "footer.html" .}}
