{{set . "title" "account"}}
{{template "header.html" .}}


<div class="page-header">
  <h1>{{msg . "account"}}</h1>
</div>

<p>
 <button type="button" class="btn btn-primary" onclick="javascript:location.href={{url "Accounts.Add"}}">{{msg . "add"}}</button>
</p>

{{if not .accounts}}
<p>
  No Found
</p>
{{else}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{msg . "account"}}{{msg . "name"}}</th>
	<!-->
      <th>{{msg . "account"}}{{msg . "kind"}}</th>
	<!-->
      <th>{{msg . "account"}}{{msg . "income"}}</th>
      <th>{{msg . "account"}}{{msg . "expense"}}</th>
      <th>{{msg . "account"}}{{msg . "balance"}}</th>
	<!-->	
	  <th>{{msg . "account"}}{{msg . "version"}}</th>
	<!-->
    </tr>
  </thead>
  <tbody>
    {{range .accounts}}
    <tr>
      <td>{{.Name}}</td>
	<!-->
	  <td>{{.Kind}}</td>
	<!-->
	  <td>{{.Income}}</td>
	  <td>{{.Expense}}</td>
	  <td>{{.Balance}}</td>
	<!-->
      <td>{{.Version.Format "2006-01-02 15:04:05"}}</td>
	<!-->
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}

{{template "footer.html" .}}
