{{set . "title" "account"}}
{{template "header.html" .}}

{{set . "active" "accounts"}}
{{template "navigation.html" .}}

<style>
    table td{font-size:12px;}
</style>

<div class="container">
  <div class="row">
    <div class="span6">{{template "flash.html" .}}</div>
  </div>
</div>

<div class="container">
  <p>
    <div class="col-sm-offset-2 col-sm-4">
      <a role="button" class="btn btn-primary" href="{{url "Accounts.New"}}">{{msg . "add"}}</a>
    </div>
  </p>
</div>

<div class="container">
<table
        data-toggle="table"
        class="table table-striped table-bordered table-condensed table-responsive"
        data-graph-type="line"
        data-show-toggle="true"
        data-show-columns="true"
        data-sort-name="name"
        data-sort-order="desc"
        data-id-field="id"
        data-url="{{url "Accounts.JsonData"}}">
    <thead>
      <tr>
        <th data-field="Name" data-halign="center" data-align="left" data-sortable="true">{{msg . "account"}}{{msg . "name"}}</th>
        <th data-field="Income" data-halign="center" data-align="left" data-sortable="true">{{msg . "account"}}{{msg . "income"}}</th>
        <th data-field="Expense" data-halign="center" data-align="left" data-sortable="true">{{msg . "account"}}{{msg . "expense"}}</th>
        <th data-field="Balance" data-halign="center" data-align="left" data-sortable="true">{{msg . "account"}}{{msg . "balance"}}</th>
      </tr>
    </thead>
</table>
</div>

<br/>
<div id="container-ae" class="col-sm-offset-1 col-lg-10 col-md-11 col-sm-11 col-xs-12"></div>
<br/>
<div id="container-ai" class="col-sm-offset-1 col-lg-10 col-md-11 col-sm-11 col-xs-12"></div>
<script src="http://cdn.hcharts.cn/highcharts/themes/grid-light.js"></script>
<script src="/public/js/account.js"></script>

{{template "footer.html" .}}